{% extends 'layout.html' %}
{% block content %}

<div class="container">
    <div class="container-fluid">
        <h1>WELCOME TO MY PORTFOLIO - COMPETENCE</h1>
        <a href="{% url 'liste' %}">Aller sur la liste</a><br>

        <div class="row">
            <div class="col-md-4">
                <form action="{% url 'ajoutCompetence' %}" method="post">
                    {% csrf_token %}
                    <label>Libelle : </label><input class="form-control" type="text" name="libelle">
                    <label>Description : </label><input class="form-control" type="text" name="description">
                    <label>Niveau</label>
                    <select name="niveaux" class="form-control">
                        <option value="1">Debutant</option>
                        <option value="2">Intermediaire</option>
                        <option value="3">Expert</option>
                    </select>
                    <label>Categorie</label>
                      <select name="categori" class="form-control">
                          {% for cat in categories %}
                            <option value="{{cat.id}}">{{cat.libelle}}</option>
                          {% endfor %}
                      </select>

                    <button type="submit" class="btn btn-dark" style="margin-top: 10px">Enregistrer</button>
                </form>
            </div>
            <div class="col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Libelle</th>
                            <th>Description</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                         {% for c in competences %}
                            <tr>
                                <td>{{c.id}}</td>
                                <td>{{c.libelle}}</td>
                                <td>{{c.description}}</td>
                                <td>
                                    <a href="{% url 'supCategorie' c.id %}" class="btn btn-sm btn-danger">Delete</a>
                                    <a href="{% url 'modifCategorie' c.id %}" class="btn btn-sm btn-primary">Update</a>
                                </td>
                            </tr>
                         {% endfor %}
                    </tbody>
                </table>
                <div>
                    {% if cats.has_previous %}
                       <a href="?page=1" class="btn btn-sm btn-dark">debut</a>
                        <a href="?page={{cats.previous_page_number}}" class="btn btn-sm btn-dark">prec</a>
                    {% endif %}
                    {% if cats.has_next %}
                        <a href="?page={{cats.next_page_number}}" class="btn btn-sm btn-dark">suiv</a>
                        <a href="?page={{cats.paginator.num_pages}}" class="btn btn-sm btn-dark">dernier</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}